<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.navigationdrawertest"
    android:versionCode="12"
    android:versionName="2.2.2" >

    
    <uses-sdk
        android:minSdkVersion="17"
        android:targetSdkVersion="22" />
    <uses-permission android:name="android.permession.MOUNT_UNMOUNT_FILESYSTEMS"/>    
	<uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />	
	<uses-permission android:name="android.permission.INTERNET" />
	<uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"></uses-permission>
	<uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"></uses-permission>  
	<uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETE"/>
	<uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.CAMERA" />

    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.REQUEST_INSTALL_PACKAGES" />
     <!-- android:configChanges="orientation|screenSize|keyboardHidden|keyboard|screenLayout" -->
    <application
        android:name="com.example.navigationdrawertest.application.MyApplication"
        android:allowBackup="true"
        android:icon="@drawable/logo"
        android:label="@string/app_name"
        android:theme="@style/AppTheme"
        android:supportsRtl="true"
        android:hardwareAccelerated="false"
        android:largeHeap="true">
        <activity
            android:name=".activity.LoginActivity"
            android:label="@string/app_name" 
            android:windowSoftInputMode="stateHidden|stateUnchanged"
            android:screenOrientation="landscape">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        
        <activity
            android:name="com.example.navigationdrawertest.MainActivity"
            android:screenOrientation="landscape"
            android:theme="@style/BaseTheme">
        </activity>
        
        <activity
            android:name="com.example.navigationdrawertest.activity.CheckActivity"
           android:windowSoftInputMode="stateHidden|stateUnchanged"
            android:screenOrientation="landscape">
            <!-- android:theme="@style/activityTheme"	> -->
        </activity>
        
        <activity
            android:name="com.example.navigationdrawertest.activity.ReadActivity"
            android:windowSoftInputMode="stateHidden|stateUnchanged"
            android:screenOrientation="landscape">
            <!-- android:windowSoftInputMode="adjustPan" -->
          <!--   android:theme="@style/activityTheme"	> -->
        </activity>
        
        <activity
            android:name="com.example.navigationdrawertest.activity.SignActivity"
            android:windowSoftInputMode="stateHidden|stateUnchanged"
            android:screenOrientation="landscape">
<!--             android:theme="@style/activityTheme"	 -->
        </activity>
        <activity
            android:name="com.example.navigationdrawertest.camera.CameraAty"
            android:label="@string/app_name"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.example.navigationdrawertest.camera.AlbumAty"
            android:label="@string/app_name"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.example.navigationdrawertest.camera.AlbumItemAty"
            android:label="@string/app_name"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.example.navigationdrawertest.activity.BitmapDialogActivity"
            android:theme="@style/BitmapDialogActivity"
            android:label="@string/app_name"
            android:screenOrientation="landscape">
        </activity>
        <activity
            android:name="com.example.navigationdrawertest.activity.DocActivity"
            android:label="@string/docactivity"
            android:screenOrientation="landscape">
        </activity>
        <activity
            android:name="com.example.navigationdrawertest.activity.CheckActivity1"
            android:windowSoftInputMode="stateHidden|stateUnchanged"
            android:screenOrientation="landscape">
        </activity>
        <activity
            android:name="com.example.navigationdrawertest.activity.ReadActivity1"
            android:windowSoftInputMode="stateHidden|stateUnchanged"
            android:screenOrientation="landscape">
        </activity>
        <activity
            android:name="com.example.navigationdrawertest.activity.SignActivity1"
            android:windowSoftInputMode="stateHidden|stateUnchanged"
            android:screenOrientation="landscape">
        </activity>
        
        <activity
            android:name="com.example.navigationdrawertest.activity.AlbumActivity"
            android:windowSoftInputMode="stateHidden|stateUnchanged"
            android:screenOrientation="landscape">
        </activity>
        
        <activity
            android:name="com.example.navigationdrawertest.activity.PhotoActivity"
            android:windowSoftInputMode="stateHidden|stateUnchanged"
            android:screenOrientation="landscape">
        </activity>

        <activity android:name="com.example.navigationdrawertest.camera1.CameraActivity"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="landscape"/>

        <activity
            android:name="com.zgy.catchuninstallself.ScrollViewStopTest"
            android:windowSoftInputMode="stateHidden|stateUnchanged"
            android:screenOrientation="landscape"/>
        <activity android:name="com.example.navigationdrawertest.activity.MainActivity1"
            android:screenOrientation="landscape"/>

        <activity android:name=".camera.PickBigImagesActivity"
            android:screenOrientation="landscape"/>
        <activity android:name=".camera.PickOrTakeImageActivity"
            android:screenOrientation="landscape"/>
        <activity android:name=".camera.PickOrTakeVideoActivity"
            android:screenOrientation="landscape"/>
        <activity
            android:name=".camera1.video.PickerActivity"
            android:screenOrientation="landscape" />
        <activity
            android:name=".camera1.video.PreviewActivity"
            android:screenOrientation="landscape" />
        <activity android:name=".activity.VideoActivity"
            android:windowSoftInputMode="stateHidden|stateUnchanged"
            android:screenOrientation="landscape"/>
        
        <receiver android:name="com.example.navigationdrawertest.Broadcast.BootBroadcastReceiver"> 
			<intent-filter> 
			<action android:name="android.intent.action.BOOT_COMPLETED" /> 
			<category android:name="android.intent.category.HOME" />
			</intent-filter> 
		</receiver>

        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="com.example.navigationdrawertest.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>
        
    </application>

</manifest>
